/* You can add global styles to this file, and also import other style files */
body {
  margin: 0px;
  padding: 0px;
}
@font-face {
  font-family: Syntax;
  src: url("./assets/fonts/SyntaxLTStd-Roman.otf") format("opentype");
}

h1, h2, h3, h4 {
  color: grey;
}

h3 i {
  vertical-align: middle;
  padding-bottom: 5px;
}

button.mat-button {
  border-style: solid;
  border-width: 1px;
  border-color: #bcbdbc; /*grey;*/
  background-color: white;
}
.mat-button-focus-overlay {
  background-color: transparent!important;
}

button.mat-button:hover  {
  background-color: #bcbdbc;
}

button.KursAction {
   width: 180px;
}

button.mat-button:hover span{
  color: white;
}

button.mat-primary span, button.mat-warn span, button.mat-accent span, button.mat-button span {
  font-weight: bold;
  font-size: 14px;
}

td-dialog-actions button.mat-button span {
  color: #bcbdbc /* grey; */
}

td-dialog-actions button.mat-accent span, .td-paging-bar-navigation button.mat-accent span {
  color: #34b233;
}

button.mat-primary, td-dialog-actions button.mat-accent {
  border-style: solid;
  border-width: 1px;
  border-color: #34b233;
}

button.mat-warn:hover {
  background-color: #e53935;
}

button.mat-warn {
  border-style: solid;
  border-width: 1px;
  border-color: #e53935;
}

button.mat-primary:hover, td-dialog-actions button.mat-accent:hover {
  background-color: #34b233;
}

button.mat-primary:hover span, button.mat-warn:hover span, td-dialog-actions button.mat-accent:hover span {
  color: white;
}

button i.startCourse, button i.stopCourse, button i.cancleCourse {
  padding-bottom:  2px;
}

button i.startCourse {
  margin-right: 1px;
}

button i.cancleCourse {
  margin-right: 4px;
}

mat-toolbar {
  height: 64px;
}

mat-toolbar span {
  color: #fff;
  font-family: Syntax;
  font-size: 27px;
  letter-spacing: 1px;
  padding-left: 10px;
}

mat-toolbar .mat-icon.mat-icon-logo {
  width: 269px;
  height: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
}

mat-toolbar.mat-toolbar {
  /* background-color: #fff !important; */
}

.mat-toolbar-row, .mat-toolbar-single-row {
    padding: 0px 12px !important;
}
.td-layout-nav-toolbar-content span {
  padding-top: 5px;
}

.td-layout-nav-content {
  margin: 5px;
}

.content {
  margin: 20px;
}

table {
    border-collapse: collapse;
}

table thead tr th {
  color: grey;
  text-align: left;/* center; */
}

td.center {
  text-align: center;
}
.immunized {
    color:red !important;
}
table.mat-table thead tr, table.mat-table tbody tr  {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #e0e0e0;
  height: 48px;
}
table thead tr th, table tbody tr td {
  padding: 5px 15px 5px 15px;
  vertical-align: middle;
}

table tbody tr td.class p {
  padding: 0px;
  margin: 0px;
}

table tbody tr.CourseInfo:hover {
  color: #34b233;
}

table tbody tr.studentTable:hover {
  color: #34b233;
}

/*
table thead tr.trHeadSelectedCourse {
  border-bottom-color: #34b233;
}

table tbody tr.selectedCourse {
  border-style: solid;
  border-width: 1px;
  border-color: #34b233;
  color: #34b233;
}
*/
table tbody tr:last-child {
  border: none;
}

table tbody tr.unSelectedCourse {
  display: none;
}

.endCourse {
  background-color: red;
}

.mat-grid-tile .mat-figure {
    align-items: left !important;
    justify-content: left !important;
}

div.StudentList {
  margin-top: 20px;
}

div#runningCourse {
  margin-bottom: 20px;
}

.moreInformation {
  padding: 10px;
}

.td-expansion-panel {
  box-shadow: none !important;
}

.left {
  width: 40%;
  float: left;
}

.right {
  width: 60%;
}

table.studentTable tr th, table.studentTable tr td {
  vertical-align: middle;
}

table.studentTable tr.notInGroup td {
  background-color: rgba(229, 57, 53, 0.15);
}
table.studentTable tr.notInGroup td {
  color: #e53935;
}
table.studentTable tr.notInGroup:hover {
  color: black;
}

table.studentTable tr td button i.material-icons {
  padding-bottom: 1px;
}

.StudierendeMatrikelnummer {
  font-weight: bold;
  color: grey;
}

.mat-calendar-body-today:not(.mat-calendar-body-selected) {
    border-color: #34b233 !important;
}

.mat-calendar-body-selected {
    color: white !important;
}

td-dialog-title {
  color: #e53935;
}

td-dialog-content span {
  color: #000 !important;
}

.mat-form-field-infix {
  width: 400px !important;
}

.footer {
  width: 100%;
  background-color: #45ab34;
  padding: 25px 0px 25px 20px;
  color: white;
  margin-top: 50px;
  text-align: center;
}

a {
  color: white;
}

.mat-tab-label, .mat-tab-link {
    color: black !important;
    font-weight: bold !important;
    font-size: 17px !important;
}
